<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Preguntas</servlet-name>
        <servlet-class>Api.Preguntas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarPregunta</servlet-name>
        <servlet-class>Api.EditarPregunta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreguntasSol</servlet-name>
        <servlet-class>Api.PreguntasSol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eliminar</servlet-name>
        <servlet-class>Api.Eliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertarPregunta</servlet-name>
        <servlet-class>Api.InsertarPregunta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertarPregunta2</servlet-name>
        <servlet-class>Api.InsertarPregunta2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Insertar</servlet-name>
        <servlet-class>Api.Insertar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Preguntas</servlet-name>
        <url-pattern>/Preguntas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarPregunta</servlet-name>
        <url-pattern>/EditarPregunta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreguntasSol</servlet-name>
        <url-pattern>/PreguntasSol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eliminar</servlet-name>
        <url-pattern>/Eliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertarPregunta</servlet-name>
        <url-pattern>/InsertarPregunta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertarPregunta2</servlet-name>
        <url-pattern>/InsertarPregunta2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Insertar</servlet-name>
        <url-pattern>/Insertar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
